/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}
.tabsdemoDynamicTabs .remove-tab {
    margin-bottom: 40px; }
.tabsdemoDynamicTabs .demo-tab {
    height: 300px;
    text-align: center; }
.tabsdemoDynamicTabs md-tabs, .tabsdemoDynamicTabs md-tabs .md-header {
    border-bottom: 1px solid #D8D8D8; }
.tabsdemoDynamicTabs md-tab[disabled] {
    opacity: 0.5; }
.tabsdemoDynamicTabs .md-tab-content {
    background: white; }
.tabsdemoDynamicTabs .title {
    padding-top: 8px;
    padding-right: 8px;
    text-align: left;
    text-transform: uppercase;
    color: #888;
    margin-top: 24px; }
.tabsdemoDynamicTabs [layout-align] > * {
    margin-left: 8px; }
.tabsdemoDynamicTabs form > [layout] > * {
    margin-left: 8px; }
.tabsdemoDynamicTabs .long > input {
    width: 264px; }
.tabsdemoDynamicTabs .md-button.add-tab {
    margin-top: 20px;
    max-height: 30px !important; }