<md-whiteframe class="main-content md-whiteframe-z1" flex layout-fill layout="column" layout-align="center center">
    <md-toolbar>
        <h1 class="md-toolbar-tools">
            <span>Order Information</span>
        </h1>
    </md-toolbar>
    <md-content class="md-padding" layout="row" layout-sm="column" flex layout-fill>
        <md-input-container flex>
            <label for="first_name">First Name</label>
            <input type="text" id="first_name" ng-model="order.first_name">
        </md-input-container>
        <md-input-container flex>
            <label for="last_name">Last Name</label>
            <input type="text" id="last_name" ng-model="order.last_name">
        </md-input-container>
    </md-content>
    <md-content class="md-accent md-padding" layout="row" layout-sm="column" flex layout-fill>
        <md-input-container flex>
            <p>Please select an entree:
            <md-radio-group id="entree" ng-model="order.entree">
                <md-radio-button value="{{entree.name}}" ng-repeat="entree in options.entrees" ng-if="entree.enabled">{{entree.name}}</md-radio-button>
            </md-radio-group>
            </p>
        </md-input-container>
        <md-input-container flex>
            <p>Please select a side:
                <md-radio-group id="side" ng-model="order.side">
                    <md-radio-button value="{{side.name}}" ng-repeat="side in options.sides" ng-if="side.enabled">{{side.name}}</md-radio-button>
                </md-radio-group>
            </p>
        </md-input-container>
        <md-input-container flex>
            <p>Please select an beverage:
                <md-radio-group id="beverage" ng-model="order.beverage">
                    <md-radio-button value="{{beverage.name}}" ng-repeat="beverage in options.beverages" ng-if="beverage.enabled">{{beverage.name}}</md-radio-button>
                </md-radio-group>
            </p>
        </md-input-container>
    </md-content>
    <md-toolbar>
        <h1 class="md-toolbar-tools" layout="row">
            <md-button
                class="md-raised md-accent"
                ng-click="submitOrder()"
                ng-mouseenter="iconEnter()"
                ng-mouseleave="iconLeave()"
                style="padding-left:15px;">
                <span ng-show="data.icon == 'check_circle'">Thank you! Order Placed!</span>
                <span ng-show="data.icon == 'send'">Place Order</span>
                <ng-md-icon
                        icon="{{data.icon}}"
                        style="margin-right:5px;margin-left:5px;"
                        size="20"
                        options='{"duration": 300, "rotation": "counterclock"}'>
                </ng-md-icon>
            </md-button>
            <div flex></div>
            <md-button class="md-raised md-warn" ng-click="resetOrder()">Reset Order</md-button>
        </h1>
    </md-toolbar>
</md-whiteframe>